@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@theme {
    --color-primary: #3eb4f7; /* cyan-700 */
    --color-secondary: oklch(0.554 0.046 257.417); /* slate-500 */
    --color-dark: oklch(0.208 0.042 265.755); /* slate-900 */
}

* {
    font-family: "Montserrat", sans-serif;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.blog-card {
    @apply p-5 bg-white rounded-lg shadow-lg border border-slate-300/80 mb-16 md:max-w-1/3 lg:max-w-1/4 mx-5;
    @apply hover:scale-[105%] transition duration-300 ease-in-out hover:cursor-default;
}

.navbar-fixed {
    @apply fixed z-[9999] bg-white/10 backdrop-blur-lg;
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
}

.hamburger-line {
    @apply w-[30px] h-[1px] my-2 block bg-slate-700 rounded-full;
}

.hamburger-active > span:nth-child(1) {
    @apply rotate-[38deg] ;
}

.hamburger-active > span:nth-child(2) {
    @apply scale-0;
}

.hamburger-active > span:nth-child(3) {
    @apply -rotate-[38deg] ;
}

.nav-list {
    @apply text-base flex py-2 text-slate-900 group-hover:text-primary capitalize px-8;
    @apply lg:font-medium lg:py-1 text-dark
}

.portfolio-card {
    @apply mb-8 p-4 md:my-0 md:max-w-1/2 lg:max-w-1/3 rounded-lg;
    @apply hover:scale-[105%] transition duration-300 ease-in-out;
}

.fade-in {
    opacity: 0;
    transform: translateY(30px);
    transition: opacity 0.8s ease-out, transform 0.8s ease-out;
  }

.fade-in-active {
  opacity: 1;
  transform: translateY(0);
}

/*
 <div class="container bg-red-500">
        <div class="flex justify-center">
            <figure class="max-w-screen-md mx-auto text-center">
                <svg class="w-10 h-10 mx-auto mb-3 text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 18 14">
                    <path d="M6 0H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3H2a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Zm10 0h-4a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h4v1a3 3 0 0 1-3 3h-1a1 1 0 0 0 0 2h1a5.006 5.006 0 0 0 5-5V2a2 2 0 0 0-2-2Z"/>
                </svg>
                <blockquote>
                    <p class="text-2xl italic font-medium text-gray-900">"Flowbite is just awesome. It contains tons of predesigned components and pages starting from login screen to complex dashboard. Perfect choice for your next SaaS application."</p>
                </blockquote>
                <figcaption class="flex items-center justify-center mt-6 space-x-3 rtl:space-x-reverse">
                        <cite class="pe-3 font-medium text-gray-900">Nuri Sutiyaningsih, S.Kom., M.Kom</cite>
                    </div>
                </figcaption>
            </figure>
        </div>
    </div>
*/
